input, input:focus, input:active {
	text-decoration: none;
	border: none;
	box-shadow: none;
	outline: none;
}

#myCanvas {
  /* background: rgb(255, 255, 255); */
  display: block;
  margin: 0 auto;
  background-image: url('../assets/images/landscape.png');
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'VT323', monospace;
}

body > h1 {
  color: white;
  margin: 0 auto;
  font-size: 40px;
  margin-bottom: 40px;
}

/* #high-score-form {
  position: absolute;
  top: 300px;
  left: 500px;
} */

.game-content {
  display: flex;
  border: 1px solid green;
}

#high-scores {
  border: 1px solid red;
  width: 200px;
}

#high-score-modal {
  width: 430px;
  height: 120px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  color: black;
  position: absolute;
  top: 440px;
  left: 550px;
}

#high-score-modal input {
  font-size: 30px;
  padding: 2px;
  text-align: center;
  font-size: 30px;
  font-family: 'VT323', monospace;
}

.high-scores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container {
  width: 950px;
  border: 1px solid red;
}