#myCanvas {
  /* background: rgb(255, 255, 255); */
  display: block;
  margin: 0 auto;
  background-image: url('/Users/kennylozeau/Desktop/Invasion/src/assets/images/landscape.png');
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

body h1 {
  color: white;
  margin: 0 auto;
  font-size: 40px;
  margin-bottom: 40px;
}