input, input:focus, input:active {
	text-decoration: none;
	border: none;
	box-shadow: none;
	outline: none;
}

a, a:visited, a:hover, a:focus {
	text-decoration: none;
}

#myCanvas {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-image: url('../assets/images/landscape.png');
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'VT323', monospace;
}

body > h1 {
  color: white;
  margin: 0 auto;
  font-size: 40px;
  margin-bottom: 40px;
}

#game-content {
  display: flex;
  margin-top: 30px;
}

#high-scores {
  width: 160px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#high-score-modal {
  width: 950px;
  height: 120px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 40px;
  color: black;
  position: absolute;
  top: 440px;
  z-index: 50;
}

#high-score-modal input {
  font-size: 40px;
  padding: 2px;
  text-align: center;
  font-family: 'VT323', monospace;
  border-radius: 2px;
}

.high-scores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.high-scores-container > h2 {
  margin-top: 10px;
  margin-bottom: 0;
  border-bottom: 3px solid white;
}

.instructions {
  list-style: none;
  width: 330px;
}

#canvas-container {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.links > a {
  text-decoration: none;
  color: white;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 30px;
}